
body {
    font-family: Arial;
}

#headerTop {
    color: white;
    padding: 0.5rem;
    background-color: #176bad;
}

#headerTop{
    display: flex;
    align-items: baseline;
}

#headerBottom {
    display: flex;
    align-items: baseline;

}

/* #headerTop span { */
.span-fix {
    margin-right: 0.5rem;
}

#first-span {
    font-weight: bold;
    text-transform: uppercase;
}

#headerBottom {
    border-bottom: 1px solid gray;
    padding: 0.5rem;
}

#compose-button {
    color: white;
    font-weight: bold;
    background-color: #176bad;
    padding: 0.3rem;
    border-radius: 3px;
    margin-right: 1rem;
    cursor: pointer;
}

#headerBottom button {
    padding: 0;
    border: none;
    background: none;
    margin-right: 1rem;
    cursor: pointer;
}

#headerBottom button.active {
    border-bottom: 2px solid #176bad;
    font-weight: bold;
}

.email {
    display: flex;
}

.email {
    padding: 0.5rem;
    padding-left: 1rem;
    border-bottom: 1px solid darkgray
}

.email-name, .email-subject {
    width: 35%;

}

.email-check, .email-date, .email-size {
    width: 8%;
}

.email:nth-child(2) {
    font-weight: bold;
}
